
/*-----------------------------------*\
      FAMILY FIRST START
\*-----------------------------------*/
  

.section-faco{
--section-padding: 10em;
  margin-top: 15em;
  background: var(--background-b);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;

}


.faco-content-wrapper{
  padding-top: calc(0vmax / 10);
  padding-bottom: calc(0vmax / 10);
  width: 100%;
}


.faco-content{
  position: relative;
  width: 100%;
}

.faco-block-content{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: left;
}

.section-faco .faco-title{
  position: relative;
  color: var(--primaryButtonBgColor);
  font-style: italic;
  letter-spacing: 0;
  font-weight: 700;
  margin-top: -1rem;  
  justify-content: center;
}



/*szöveg alatti vonal*/
.section-faco .faco-title:after{
  content:"";
  width: 100%;
  min-height: 1px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to right,#003f5f, #bcd9c9);
}

.faco-text{
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  text-align: left;
}


/*-----------------------------------*\
      FAMILY FIRST END
\*-----------------------------------*/
  






/*-----------------------------------*\
      FAMILY SECOND START
\*-----------------------------------*/
  
.famco-text{
  align-items: center;
}

.famco-title{
  font-weight: 700;
  margin-bottom: 2em;
  margin-top: 1.2rem;
  line-height: var(--lineHeight-2);
  justify-content: center;
}


.famco-text .pretitle{
  width: fit-content;
  display: inline-flex;
  align-items: flex-start;
  background: linear-gradient(90deg, #d93636 20%, #f2a20c 100%);
  /*background: linear-gradient(90deg, #003f5f 20%, #8ca99c 100%);*/
  background-clip: text;
  color:transparent;
}


.c-text-inner{
  position: relative;
  display: flex;
  flex-direction: column;
}

.c-content-m{
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 5rem;
  align-items: center;
}

.check-img-content{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-img{
  width: 5rem;
  height: 5rem;
  opacity: 0.5 !important;
  justify-content: flex-start;
  transition-duration: 0.9s;

}

.text-wrapper{
  position: relative;
  text-align: left;
  flex: 1;
}

.text-wrapper .c-how-text:after{
  content:"";
  width: 100%;
  min-height: 1px;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to right,#003f5f, #bcd9c9);

}

/*jobb oldali oszlop*/
.famco-right{
  position: relative;
}

.famco-img{
  position: relative;
  padding: 0 3rem;
}

.famco-img img{
  width: 100%;
  margin-top: -120px;
  border-radius: 8px;
}

@media (max-width: 900px){
  .famco-img img{
    display: none;
  }
}

@media (max-width: 992px){
  .famco-img img{
   width: 50%;
   margin: 0 auto;
  }
}




/*-----------------------------------*\
      SECOND SECTION END
\*-----------------------------------*/
  



/*-----------------------------------*\
      FAMILY 3 SECTION START
\*-----------------------------------*/
  
.section-q{
  height: 40vh;
  background-color: var(--primary);
  background-image: url(../image/citates-bg.png);
  background-attachment: fixed;
  padding-top: 90px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  margin-top: 2rem;
  margin-bottom: 2rem;
  
}

.section-q:before{
  background-image: repeating-linear-gradient(rgba(133, 153, 148, 0.6), rgba(133, 153, 148, 0.6));
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.content-q-wrapper{
  position: relative;
  align-items: center;
  justify-content: center;
  padding-top: 3.3vmax;
  padding-bottom: 3.3vmax;
  row-gap: 20px;
  width: 100%;
  
}

.title-q{
 color: var(--background);
 font-weight: 700;
}

.text-q{
  color: var(--background);
  
}


/*-----------------------------------*\
      FAMILY 3 SECTION END
\*-----------------------------------*/
  


/*-----------------------------------*\
  CALL START
\*-----------------------------------*/
    
.call-section{
  background: var(--background);
  
  
}

.call-block{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  
}

.call-img-box{
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.44);
  border-right-width: 0;
  border-radius: var(--radius-12);
  
}

.call-img-box img{
  border-style: none;
  max-width: 400px;
  height: auto;
  
}
  
.call-block-content{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.call-d{
  position: relative;
  margin-bottom: -1rem;
  margin-left: 15rem;
  padding-top: 60px;
  text-rendering: optimizeLegibility;
}

.call-d:after{
  content:"";
  width: 100%;
  min-height: 1px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to right,#003f5f, #bcd9c9);
}

.call-button{
  position: relative;
  background: var(--gray);
  color: var(--primaryButtonBgColor);
  font-size: var(--fontSize-label-2);
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing-5);
  border-radius: var(--radius-6);
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  display: inline-flex;
  z-index: 1;
  margin-top: 5rem;
  margin-left: 20rem;
}


.call-button:before{
  content: "\f095"; /* A Font Awesome telefon ikon kódja */
  font-family: "Font Awesome 5 free";
  font-size: 40px; /* Az ikon mérete */
  color: var(--primaryButtonBgColor); /* Az ikon színe */
  position: absolute;
  transform: rotate(1deg);
  left: -50px; /* Tarts távolságot a gombtól */
}

@media (max-widt:992px){
  .grid{
    grid-template-columns: 1fr;
  }
}
/*-----------------------------------*\
  CALL END
\*-----------------------------------*/










/*-----------------------------------*\
  PRICES START
\*-----------------------------------*/
/*
#prices{
  background: radial-gradient(#bcd9c9, #b1cbbd, #8ca99c);
}
*/

.price-bg{
  position: relative;
  background-image: url(../image/service-background-1.svg); /* A háttérkép URL-je */
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden; 
}

   
#waves-3{
  position: relative;
  top: -10rem;
  width: 100%;
  left: 0;
  z-index: 1;
  transform: rotate(180deg);
}

.prices-pad{
  width: 100%;
  padding: 30px 30px;
}


.time-text{
  align-items: center;
  padding-bottom: 3rem;
}
.prices-wrap .time{
  font-weight: 700;
  color: var(--primaryButtonBgColor);
}

/*Jobb oldali oszlop*/
.plan{
  position: relative;
  align-items: center;
  justify-content: center;
}

.plan-wrap{
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  justify-content: center;
  align-items: center;
}
    
@media (max-width: 992px){
  .prices-pad{
     width: 100%;
  }

  .grid{
    grid-template-columns: 1fr;
  }
    
  

  .plan-save{
    font-size: 2rem;
  }
}
    
    
.price-card{
  position: relative;
  margin-bottom: 30px;
  padding: 30px 15px 15px 15px;
  background: #f3eee8 ;
  border: 1px solid #d8dddc;
  border-radius: 20px;
  box-shadow: var(--shadow-3);
    
}
    
@media (max-width: 768px){
  .plan-wrap{
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
  .price-card{
    padding: 30px 15px 15px 15px;
  }
  .plane-text{
    font-size: 2rem;
  }
  .plan-save{
    font-size: 2rem;
  }
}
    
.price-card .plan-details{
  display: grid;
  grid-template-columns: 1fr 150px;
  grid-template-rows: 26px;
  padding-bottom: 1rem;
}

.plan-name{
  color: var(--primary);
  font-size: 1.2rem;
  line-height: 1;
  text-align: left;
  padding-top: .5rem;
}
    
.plan-save{
  background: var(--primaryButtonBgColor);
  font-size: 1.2rem;
  align-items: center;
  padding-bottom: 1rem;
  border-radius: 5px;
  color: var(--white);
}
    
.the-price{
  padding-bottom: 1rem;
}
    
.price-1{
  color: var(--lightgray);
}
    
.price-1 .green{
  opacity: 0.8;
}
    
.price-1 .grau{
  padding-left: 10px;
  color: var(--primary);
}
    
    
#price hr{
  border-top: 1px dotted var(--primary);
}
    
hr{
  box-sizing: content-box;
  overflow: visible;
  border: none;
  height: 1px;
  padding: 0;
}
    
.mb-2{
  margin-bottom: .5rem;
}

.online{
  display: inline-flex;
  justify-content: center;
  flex-shrink: 0;
  width: 20px;
  height: 15px;
  stroke-width: 3px;
  margin-right: 8px;
  transform: translateY(2px);
}
  
    
/*-----------------------------------*\
  PRICES END
\*-----------------------------------*/
    
    













/*-----------------------------------*\
  #FOOTER START
\*-----------------------------------*/

.footer{
      width: 100%;
      background: var(--primaryButtonBgColor);
      border-top: 1px solid var(--primary);
}
    
.copyright {
      color: var(--background);
      line-height: var(--lineHeight-3);
}
    
.copyright .link {
      display: inline;
      color: var(--orange-h);
    }
    
/*-----------------------------------*\
      #FOOTER END
\*-----------------------------------*/
    
    
    
    
    
    
    
    
/*-----------------------------------*\
      #BACK TO TOP
\*-----------------------------------*/
    
.back-top-btn {
      position: fixed;
      bottom: 20px;
      right: 20px;
      background-color: var(--gray);
      color: var(--primaryButtonBgColor);
      font-size: 22px;
      width: 50px;
      height: 50px;
      border-radius: var(--radius-circle);
      display: grid;
      place-items: center;
      box-shadow: var(--shadow-2);
      transition: var(--transition-1);
      opacity: 0;
      visibility: hidden;
      z-index: 4;
}
    
.back-top-btn:is(:hover, :focus-visible) {
      background-color: var(--primaryButtonBgColor);
      color: var(--background);
}
    
.back-top-btn.active {
      opacity: 1;
      visibility: visible;
}
    
/*-----------------------------------*\
      #BACK TO TOP END
\*-----------------------------------*/
    
   