/*-----------------------------------*\
  #PLACE START
\*-----------------------------------*/
  

.place { 
  margin-top: 5em;
  padding-top: 25rem;
  padding-bottom: 10rem;
  background: linear-gradient(#fdfdf6,#fdfdf6 50%, #f3eee8 50%, #f3eee8 100%);
}
    
.place-title{
  color: var(--primary);
  font-weight: 600;
  padding-bottom: 2rem;
}
.place .place-title-1 {
  position: relative;
  color: var(--primaryButtonBgColor);
  font-weight: 700;
  margin-block-end: 40px; 
  padding-bottom: 3rem;
}

.place .place-title-1:after{
  content:"";
  width: 25%;
  min-height: 1px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to right,#003f5f, #bcd9c9);
}

.place-box{
  width: 100%;
  padding: 1rem;
}
    
.grid-place { 
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: center;
}
    
@media (max-width: 1024px){
  .grid-place{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px){
  .grid-place{
    grid-template-columns: 1fr;
    
  }
  
}



.place-card { 
  height: 650px;
  padding: 30px 20px 40px; 
  border: .5px solid var(--gray);
  border-radius: var(--radius-12);
  box-shadow: var(--shadow-2);
}

@media (max-width: 768px){
  .place-card{
    height: max-content;
  }
  .place-card .card-img{
    width: 100%;
  }
}

@media (max-width: 641px){
  .place-card .card-img{
    width: 100%;
  }
}

.place-item:nth-child(2n+1) .place-card { background-color: var(--white); }
    
.place-item:nth-child(2n) .place-card { background-color: var(--white); }
    
    
.card-img {
  width: 100%;
  height: auto;
  margin-inline: auto;
  object-fit: cover;
}
    
.place-img{
  border-radius: var(--radius-6);
}

.place-text{
  margin-block: 10px;
  font-size: 1.2rem;
  letter-spacing: var(--letterSpacing-1);
  text-align: left;
  color: var(--primary);
  text-transform: uppercase;
}
    
.place-card .card-title { 
  color: var(--primaryButtonBgColor);
  font-weight: 600;
  text-align: left;
}
    
     
.place-card .card-text {
  text-align: left;
  color: var(--dblau);
  line-height: var(--lineHeight-6);
  margin-bottom: 1rem;
}

.place-info{
  margin: 2rem 0;
}
.info-card{
  gap: .5rem;
  margin-bottom: 1rem;
}

.place-icon{
  display: inline-flex;
  justify-content: center;
  text-align: center;
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  stroke-width: 3px;
  color: var(--primary);
}
       
  

/*-----------------------------------*\
  PLACE END
\*-----------------------------------*/
    




/*-----------------------------------*\
  #FOOTER START
\*-----------------------------------*/

.footer{
  width: 100%;
  height: max-content;
  background: var(--primaryButtonBgColor);
  border-top: 1px solid var(--primary);
}

.copyright {
  color: var(--background);
  line-height: var(--lineHeight-3);
}

.copyright .link {
  display: inline;
  color: var(--orange-h);
}

/*-----------------------------------*\
  #FOOTER END
\*-----------------------------------*/








/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/

.back-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--gray);
  color: var(--primaryButtonBgColor);
  font-size: 22px;
  width: 50px;
  height: 50px;
  border-radius: var(--radius-circle);
  display: grid;
  place-items: center;
  box-shadow: var(--shadow-2);
  transition: var(--transition-1);
  opacity: 0;
  visibility: hidden;
  z-index: 4;
}

.back-top-btn:is(:hover, :focus-visible) {
  background-color: var(--primaryButtonBgColor);
  color: var(--background);
}

.back-top-btn.active {
  opacity: 1;
  visibility: visible;
}

/*-----------------------------------*\
  #BACK TO TOP END
\*-----------------------------------*/

