/*-----------------------------------*\
  CONTACT START
\*-----------------------------------*/

.contact-section{ 
      --section-padding: 10em;
      margin-top: 15em;
      /*background: linear-gradient(175deg, #fdfdf6 50%, #bcd9c9 50%, #c3d1cf);*/
}
    
    
.contact .contact-t {
      position: relative;
      margin-block-end: 40px; 
      margin-bottom: 5rem;
}
     
.contact-t .has-after::after{
      width: 15%;
      height: 1px;
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%);
      background: linear-gradient(to right,#003f5f, #bcd9c9);
}
    
.info-container{
      position: relative;
      width: 100%;
}
    
.contact-d{
      text-transform: uppercase;
      padding-bottom: 1rem;
      font-weight: 600;
}
    
.contact-c{
      line-height: var(--lineHeight-3);
      padding: 1rem 0;
}
    
.box-container{padding: 1rem 0;}
    
.box{
      gap: 2rem;
      padding: 1rem 0;
}

.box i{
      color: var(--primaryButtonBgColor);
      padding-top: .5rem;
      padding-right: 1rem;
      justify-content: space-between;
}
    
.box a{
      font-size: 1.8rem;
      color: var(--primaryButtonBgColor);
      font-weight: 600;
}
    
    
.share a{
      font-size: 2rem;
      height: 4.5rem;
      width: 4.5rem;
      line-height: 4.5rem;
      border-radius: 50%;
      background: var(--primaryButtonBgColor);
      color: var(--background);
      text-align: center;
      margin-right: 1rem;
}

.share a:hover{
      background: var(--orange-h);
      color: var(--primaryButtonBgColor);
      transition: .5s;
}
    
    
   
    /*Kapcsolat 2. box kapcsolatfelvétel*/
    
form{
      position: relative;
      width:100%;
}
    
.contact-input-box{
      display: flex;
      outline: none;
      margin-bottom: 22px;
      color: var(--white);
      text-align: left;
}
    
    
.contact-input-box input,
.contact-input-box textarea{
      width: 85%;
      border-radius: var(--radius-6);
      border: .1rem solid var(--gray);
      background: var(--background);
      padding: 1rem 1.5rem; 
      font-size: var(--fontSize-body-4);
      color: var(--dblau);
      outline: none; 
      resize: none;  
}
    
.contact-input-box input:hover,
.contact-input-box textarea:hover{
      border: .1rem solid var(--orange-h);
}
    
.contact-input-box .send-btn{
      width: 20%;
      color: var(--white);
      background: var(--primaryButtonBgColor);
      display: inline-flex;
      font-size: var(--fontSize-body-4);
      font-weight: var(--weight-mitle);
      text-transform: uppercase;
      letter-spacing: 2px;
      border-radius: var(--radius-12);
      border: none;
      cursor: pointer;
      transition: 0.5s ease;
      justify-content: center;
}
    
.contact-input-box .send-btn:hover{
      background: var(--orange-h);
      color: var(--primaryButtonBgColor);
}

@media (max-width: 768px){
      .contact-input-box .send-btn{
      width: 30%; 
      }
}  
/*-----------------------------------*\
 CONTACT END
\*-----------------------------------*/
    

    