


/*-----------------------------------*\
  #ABOUT START
\*-----------------------------------*/


.hero {
  --section-padding: 20em;
  margin-top: 15em;
}
 


.hero-content .hero-t { 
  color: var(--primary);
  font-weight: 800;
  margin-block: 10px 20px;
}
    
.hero-d{ 
  color: var(--primaryButtonBgColor);
  font-weight: 600;
}
    
.has-after::after{
  width: 50%;
  min-height: 1px;
  bottom: -5px;
  left: 25%;
  transform: translateX(-50%);
  background: linear-gradient(to right,#003f5f, #bcd9c9);
}

.hero-text {
  padding: 0; /* Alapértelmezett padding az összes bekezdéshez */
  margin-bottom: 1rem; /* Távolság az egyes bekezdések között */
}

.hero-text:first-of-type {
  padding-top: 2rem; /* Csak az első hero-text bekezdéshez tartozó padding */
  margin-bottom: 1.5rem; /* Esetleg nagyobb távolság, ha az első bekezdés kiemelése szükséges */
}

    
 
/*hero profil*/
.hero-banner {
  position: relative;
  margin-top: 2rem;
  padding-left: 2rem;
  width: 100%;   
}
    
.hero-banner img{
  width: 100%;
  max-width: 590px;
  align-items: center;
  justify-content: center;
  height: auto;
}
    
@media (max-width: 992px){
  .hero .grid {
    grid-template-columns: 1fr;
        
  }
  .hero-banner img{
    width: 60%;
    margin: 0 auto;
  }
}
    
/*-----------------------------------*\
 ABOUT END
\*-----------------------------------*/
   







/*-----------------------------------*\
 EDU START
\*-----------------------------------*/
  
.edu-exp{
  --section-padding: 10em;
  margin-top: 5em;
  background: var(--background-b);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.edu-exp-content{
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.edu-exp-t{
  position: relative;
  color: var(--primaryButtonBgColor);
  letter-spacing: 0;
  font-weight: 700;
  letter-spacing: var(--letterSpacing-1);
  margin-top: -5rem;  
  justify-content: center;
  text-align: center;
}

.edu-exp-t:after{
  content:"";
  width: 30%;
  min-height: 1px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to right,#003f5f, #bcd9c9);
}

.edu-left{
  position: relative;
  width: 100%;
}

.edu-container{
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  text-align: center;
}

.edu-title{
  padding: 1.5rem;
  background-color:  var(--primaryButtonBgColor);
  color: var(--background);
  border-radius: var(--radius-4);
  letter-spacing: .5rem;
  /*border-bottom: 1px solid var(--primaryButtonBgColor);*/
  margin-top: 1rem;
  margin-bottom: 1rem;
}


.edu-box{
  backdrop-filter: blur(25px);
  background-color: var(--gray);
  text-align: left;
  padding: 1rem 3rem;
  border-radius: var(--radius-4);
  box-shadow: var(--shadow-2);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.edu-box span{
  font-size: 1.5rem;
  color: var(--primary);
}

.edu-text{
 font-weight: 600;
 margin-top: 1.5rem;
 margin-bottom: 1rem;
}

.e-text{
  font-weight: 500;
  line-height: 1.5rem;
  margin-bottom: 1rem;

}

/*-----------------------------------*\
 EDU END
\*-----------------------------------*/
   












/*-----------------------------------*\
  #FOOTER START
\*-----------------------------------*/

.footer{
  width: 100%;
  background: var(--primaryButtonBgColor);
  border-top: 1px solid var(--primary);
}
    
.copyright {
  color: var(--background);
  line-height: var(--lineHeight-3);
}
    
.copyright .link {
  display: inline;
  color: var(--orange-h);
}
    
/*-----------------------------------*\
      #FOOTER END
\*-----------------------------------*/
    
    
    
    
    
    
    
    
/*-----------------------------------*\
      #BACK TO TOP
\*-----------------------------------*/
    
.back-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--gray);
  color: var(--primaryButtonBgColor);
  font-size: 22px;
  width: 50px;
  height: 50px;
  border-radius: var(--radius-circle);
  display: grid;
  place-items: center;
  box-shadow: var(--shadow-2);
  transition: var(--transition-1);
  opacity: 0;
  visibility: hidden;
  z-index: 4;
}
    
.back-top-btn:is(:hover, :focus-visible) {
  background-color: var(--primaryButtonBgColor);
  color: var(--background);
}
    
.back-top-btn.active {
  opacity: 1;
  visibility: visible;
}
    
/*-----------------------------------*\
      #BACK TO TOP END
\*-----------------------------------*/
    
    
    
    